<main
  class="relative min-h-screen bg-cover bg-center bg-no-repeat activate-bg flex flex-col items-center justify-center text-white text-center"
>
  <div
    class="form-container flex flex-col items-center mt-6 gap-8 py-11 sm:px-14 px-6 w-80 sm:w-auto"
  >
    <h1 class="font-bold sm:text-5xl text-4xl">Activate your Account</h1>

    <p-button
      severity="primary"
      class="font-bold text-lg"
      label="Activate"
      (click)="onActivateBtnClick()"
    ></p-button>
  </div>
</main>
