<main
  class="relative min-h-screen bg-cover bg-center bg-no-repeat reset-bg flex flex-col items-center justify-center text-white text-center"
>
  <form
    class="form-container flex flex-col items-center mt-6 gap-8 py-11 sm:px-14 px-6 w-80 sm:w-auto"
    #form="ngForm"
  >
    <h1 class="font-bold sm:text-5xl text-4xl">Reset password</h1>

    <p class="sm:font-medium font-normal sm:text-lg text-base">
      Create a new password for your
      <a class="text-primary" href="/">Videoflix</a> account.
    </p>

    <p-iconfield class="sm:w-96 w-full">
      <p-inputicon [styleClass]="primeicons.LOCK" />
      <input
        class="w-full"
        [type]="showPassword ? 'text' : 'password'"
        name="password"
        [(ngModel)]="password"
        required
        pInputText
        placeholder="Enter a password"
        #passwordInput="ngModel"
      />
      <p-inputicon
        [styleClass]="showPassword ? primeicons.EYE_SLASH : primeicons.EYE"
        (click)="togglePassword('showPassword')"
        class="cursor-pointer"
      />
    </p-iconfield>

    <div class="flex flex-col items-start gap-1">
      <p-iconfield class="sm:w-96 w-full">
        <p-inputicon [styleClass]="primeicons.LOCK" />
        <input
          class="w-full"
          [type]="showConfirmPassword ? 'text' : 'password'"
          name="confirmPassword"
          [(ngModel)]="confirmPassword"
          required
          pInputText
          placeholder="Confirm password"
          #confirmInput="ngModel"
        />
        <p-inputicon
          [styleClass]="
            showConfirmPassword ? primeicons.EYE_SLASH : primeicons.EYE
          "
          (click)="togglePassword('showConfirmPassword')"
          class="cursor-pointer"
        />
      </p-iconfield>
      @if (confirmPassword && password !== confirmPassword) {
      <p class="text-red-400 text-sm">Passwords do not match.</p>
      }
    </div>

    <p-button
      severity="primary"
      class="font-bold text-lg"
      label="Reset my password"
      [disabled]="form.invalid || password !== confirmPassword"
    ></p-button>
  </form>
</main>
