.forgot-bg {
  background-image: linear-gradient(
      180deg,
      #000000 -19.89%,
      rgba(0, 0, 0, 0.55) 40.46%,
      #000000 100%
    ),
    url("/assets/images/login.jpg");
}

.form-container {
  background-color: #1b1b22d9;
  border-radius: 48px;
  max-width: 520px;
}

.p-inputtext:enabled {
  background-color: #1c1a20cc;
  border-color: var(--p-primary-color);
  color: #ffffff;

  &:focus {
    background-color: #1c1a20cc;
    border-color: var(--p-primary-color);
  }

  &::placeholder {
    color: #ffffff;
    opacity: 1;
  }
}
