.start-page-bg {
  background-image: linear-gradient(
      180deg,
      #000000 -19.89%,
      rgba(0, 0, 0, 0.55) 40.46%,
      #000000 100%
    ),
    url("/assets/images/start_page.webp");
}

.p-inputtext:enabled {
  border-radius: 40px;
  background-color: #1c1a20cc;
  border-color: #ffffff;
  color: #ffffff;

  &:focus {
    background-color: #1c1a20cc;
    border-color: var(--p-primary-color);
  }

  &::placeholder {
    color: #ffffff;
    opacity: 1;
  }
}

input {
  @media (max-width: 352px) {
    width: 100%;
  }
}
