.form-container {
  background-color: #1b1b22d9;
  border-radius: 48px;
}

.p-inputtext:enabled {
  background-color: #1c1a20cc;
  border-color: var(--p-primary-color);
  color: #ffffff;

  &:focus {
    background-color: #1c1a20cc;
    border-color: var(--p-primary-color);
  }

  &::placeholder {
    color: #ffffff;
    opacity: 1;
  }
}
