.gradient {
  background: linear-gradient(180deg, #14141499 76%, #14141400 88%, #141414 100%);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
