@import "primeicons/primeicons.css";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #1c1a20cc inset !important;
  box-shadow: 0 0 0 1000px #1c1a20cc inset !important;
  -webkit-text-fill-color: #ffffff !important;
  border: 1px solid var(--p-primary-color) !important;
  caret-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s !important;
}


.p-toast {
  max-width: 90vw;
  width: auto;
  min-width: 240px;
  word-break: break-word;
}

:root {
  --p-primary-contrast-color: #ffffff !important;
}

body {
  background-color: #141414;
  min-height: 100vh;
}

.vjs-resolution-menu {
  position: absolute;
  bottom: 48px;
  right: 8px;
  background: #000c;
  color: white;
  padding: 6px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.vjs-resolution-option {
  padding: 4px 8px;
  cursor: pointer;
  font-size: 16px;
}

.vjs-resolution-option.selected,
.vjs-resolution-option:hover {
  background-color: #FFFFFF33;
  border-radius: 8px;
}

.vjs-resolution-button .pi {
  font-size: 1.4rem;
}

.vjs-hidden {
  display: none !important;
}

